body{
    background-color: #8abdec;
    text-align: center;
}

.recipients{
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
}
.title{
    text-size-adjust: 40rem;
}

img{
    width: 15rem;
}

