body {
    text-align: center;
    background-color: #8B848F;

}
.hero {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.container {
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 10%;
}
.circle-img {
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 10px rgb(69, 69, 69);
}
