html,body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#click-me-button{
    background-color: aqua;
    border: solid 1px black;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: -1px 2px 11px -1px rgba(0,0,0,.2);
    border: ;
}

#click-me-button :hover{
    background-color: blueviolet;
}





